<% include partitles/header %>
 <div id='home'>
     <div class='container white'>
      <p id='hmepara'>
       Our project titled "CAREER CALLING" is a website developed for companies to facilitate the ease of application for recruitment in the companies.The website acts a a time saving means for both companies and applicants. Using this website applicants can apply as per their qualifications to meet the needs of the company.The selection and rejection is based on strict inspection by a panel of HR members after a series of filtering done based on students’ aggregates and test results conducted by the company.The candidates shortlisted will be later called for interview. 
      </p>
      <center>
        <a href='/company/signin' class='btn btn-primary hmebut'>Company</a>
      <a href='/student/signin' class='btn btn-primary hmebut'>Student</a> 
      </center>
     </div>
 </div>
<% include partitles/footer %>