<div class='container view'>
        <div class='navv'>
        <ul class='nav justify-content-center'>
            <li class='nav-item'>
                <a class='nav-link' href='/company/request'>View requested students</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href='/company/logout'>logout</a>
            </li>
        </ul>
        </div>
    </div>