<% include ../partitles/header %>
    <div class='container view'>
      <div class='row'>
        <div class='col-md-6 offset-md-3'>
            <h1>Company Sign up</h1>
            <% if(flash.error && flash.error.length > 0) { %>
                <div class='alert alert-danger' role='alert'>
                    <%=flash.error[0]%>
                </div>
            <% } %>
            <form action='/company/signup' method='POST' id='validate'>
               <div class='form-group'>
                   <label>Company Name:</label>
                   <input type='text' name='name' class='form-control'placeholder='enter company name' required></input>
               </div>
               <div class='form-group'>
                   <label>Work type:</label>
                   <select name='type' class='form-control'>
                       <option value='Software'>Software</option>
                       <option value='Hardware'>Hardware</option>
                   </select>
               </div>
               <div class='form-group'>
                   <label>Company Email:</label>
                   <input type='email' name='email' class='form-control' placeholder='Enter email' required></input>
                   <small class='form-text text-mute'>Please provide original email address</small>
               </div>
               <div class='form-group'>
                   <label>Company Number:</label>
                   <input type='tel' name='number' class='form-control' placeholder='Ex: +91898738' required></input>
                   <small class='form-text text-mute'>Please provide original number and at starting provide country code</small>
               </div> 
               <div class='form-group'>
                   <label>Company Address:</label>
                   <input type='text' name='address' class='form-control' placeholder='Enter address' required></input>
               </div> 
               <div class='form-group'>
                   <label>Company's descrption:</label>
                   <textarea name='desc' class='form-control' placeholder='enter descrption' required></textarea>
               </div>
               <div class='form-group'>
                   <label>Company Username:</label>
                   <input type='text' name='username' class='form-control' placeholder='Enter Username' required></input>
               </div> 
               <div class='form-group'>
                   <label>Company Password:</label>
                   <input type='password' name='password' class='form-control' placeholder='Enter password' required></input>
               </div> 
                   <button type='submit' class='btn btn-success btn-block but1'>Sign In</button>
            </form>
        </div>
    </div>
  </div>
<% include ../partitles/footer %>

